@import "../../node_modules/rfs/sass.sass";

@include media-sm {
}
@include media-md {
	//MENU
	.navbar {
		top: -100px;
		height: 60px;
	}
	.menu-btn {
		visibility: hidden;
	}

	.nav {
		visibility: visible;
		width: fit-content;
		right: 0;
		height: 60px;

		.menu-nav {
			padding: 0;
			flex-direction: row;
			height: fit-content;
			transform: translateY(0);

			background: none;
			width: fit-content;
			box-shadow: none;
			&__item {
				padding-right: 1.5rem;
				transform: translateX(0);
			}
			& button {
				padding: 0.55rem 1rem;
				margin: 10px 10px;
				transform: translateX(0);
				@include font-size(20px);
			}
			&__link {
				padding: 0;
				@include font-size(16px);
				&::before {
					margin-right: 5px;
					display: inline;
					@include font-size(16px);
					text-align: justify;
				}
			}
		}
	}
	//************************************************HOME PAGE STYLING********************************************
	.main {
		padding: 0 150px;
	}
	.about-section {
		max-width: 900px;
	}
	.project-section {
		max-width: 1000px;
	}
	.contact-section {
		max-width: 600px;
		margin: 0px auto 100px;
	}
	.hero-section {
		max-width: 1000px;
	}
	//Project section
	.project {
		position: relative;
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
		padding-bottom: 80px;
		&:nth-of-type(2n + 1) .project-content {
			grid-column: 7 / -1;
			text-align: right;
		}
		&:nth-of-type(2n + 1) .project-tech-list,
		.project-links {
			justify-content: flex-end;
		}
		&:nth-of-type(2n) .project-links {
			justify-content: left;
		}
		&:nth-of-type(2n + 1) .project-image {
			grid-area: 1/1/1/8;
		}
		& .project-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding: 0;
			z-index: 5;
			position: relative;
			grid-area: 1 / 1 / -1 / 7;

			& .project-overline {
				margin: 10px 0px;
				color: $green;
				font-family: "Roboto Mono", monospace;
				@include font-size(14px);
				font-weight: 300;
			}
			& .project-title {
				a {
					color: $white;
					text-decoration: none;
				}
			}

			& .project-description {
				box-shadow: 0 10px 30px -15px $navy-shadow;
				position: relative;
				z-index: 2;
				padding: 25px;
				border-radius: 5px;
				background-color: $light-navy;
				color: $light-slate;
				text-align: start;
			}
			.project-tech-list {
				display: flex;
				flex-wrap: wrap;
				position: relative;
				margin: 10px 0px;
				padding: 0px;
				list-style: none;

				& li {
					margin: 0px 20px 5px 0px;
					color: $light-slate;
					font-family: "Roboto Mono", monospace;
					@include font-size(14px);
					white-space: nowrap;
				}
			}
			& .project-links {
				display: flex;
				align-items: center;
				position: relative;
				margin-top: 10px;
				margin-left: -10px;

				& a {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 10px;
					& svg {
						width: 20px;
						height: 20px;
						color: $lightest-slate;
					}
				}
			}
			& .project-pic {
				position: relative;
				z-index: 1;
				box-shadow: 0 10px 30px -15px var $navy-shadow;
				@include transition-ease;

				& a {
					& ::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						inset: 0px;
						z-index: 3;
						@include transition-ease;
						background-color: $navy;
						mix-blend-mode: screen;
					}
				}
			}
		}
		& .project-image {
			box-shadow: 0 10px 30px -15px $navy-shadow;
			grid-area: 1/6/-1/-1;
			height: auto;
			position: relative;
			z-index: 1;
		}
	}

	@include media-lg {
	}
	@include media-xl {
	}
}
