@import "config";
@import "menu";
@import "home";
@import "footer";
@import "responsive";
@import "errorpage";
@import "../../node_modules/rfs/sass.sass";

body {
	line-height: 1.5;
	color: $slate;
	background: $navy;
	font-family: "Inter", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	&::-webkit-scrollbar-track {
		background-color: $slate;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $green;
		border-radius: 10px;
		height: 10px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	margin: 0px 0px 10px;
}

button {
	color: $green;
	background-color: transparent;
	border: 2px solid $green;
	border-radius: 5px;
	padding: 18px 20px;
	font-family: "Roboto Mono", monospace;
	text-decoration: none;
	line-height: 1;
	width: max-content;
	font-weight: 300;
	letter-spacing: 2px;
	cursor: pointer;
	& a {
		color: $green !important;
		text-decoration: none !important;
	}
	&:hover {
		background: $light-navy;
	}
	&.open {
		transform: translateX(0);
	}
}

section {
	padding: 25px 0;
	margin: 0px auto;
}
/**********************************************BLOG*******************************************/
.blog-section {
	& .numbered-heading {
		&::before {
			counter-increment: section 4;
			content: "0" counter(section) ".";
		}
	}
}
.blog-list {
	box-shadow: $navy-shadow 0px 50px 100px -20px,
		$navy-shadow 0px 30px 60px -30px;
}
.blog-item {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	padding: 30px;
}
.post-image {
	&::after {
		content: "";
		mix-blend-mode: multiply;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(120deg, #eaee44, #33d0ff, $green);
		opacity: 0.7;
		@include transition-ease;
	}
	&:hover::after {
		background-image: none;
	}
}
.post-list-image {
	box-shadow: 0 10px 30px -15px $navy-shadow;
	height: auto;
	width: 100%;
}
.post-list-content {
	padding: 30px;
	.entry-meta {
		color: $green;
		list-style: none;
		display: flex;
		padding: 0;
		@include font-size(14px);
		li {
			padding-right: 20px;
		}
		li:last-child {
			padding-right: 0;
		}
	}
	.entry-title {
		color: $lightest-slate;
		text-transform: capitalize;
		font-family: "Poppins", sans-serif;
		@include font-size(24px);
	}
	.post-btn {
		color: $light-slate;
		&:hover {
			color: $green;
		}
	}
}
/* ------------------------------
		Post-single
------------------------------ */
.blog-page {
	padding: 0 20px;
}
.post-single {
	h2 {
		color: $lightest-slate;
		margin-top: 50px;
	}
	.entry-meta {
		display: flex;
		list-style: none;
		color: $green;
		padding: 0;
		margin: 20px 0;
		@include font-size(14px);
		li {
			padding-right: 20px;
		}
		li:last-child {
			padding-right: 0;
		}
	}
	.post-single-body {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
