@import 'config';
@import '../../node_modules/rfs/sass.sass';

body {
	color: #212529;
	font-family: 'Inter', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
}
h1 {
	font-weight: 900;
	@include font-size(36px);
}
h2 {
	font-weight: 700;
	@include font-size(28px);
}
h3 {
	font-weight: 500;
	@include font-size(24px);
}
h4 {
	font-weight: 300;
	@include font-size(18px);
}
p {
	@include font-size(16px);
}
.container {
	width: 100%;
	background: #f3f2f0;
	margin: 100px 0 100px 0;
	text-align: center;
	padding: 40px 0 40px 0;
	line-height: 0em;

	& h2 {
		font-weight: 400;
		font-family: 'Poppins', san-serif;
		color: #0ba1af;
		@include font-size(30px);
		& span {
			text-transform: uppercase;
			@include font-size(36px);
		}
	}

	& h1 {
		font-family: 'Poppins', san-serif;
		color: $teriary-color;
		font-weight: 900;
		@include font-size(30px);
		letter-spacing: 0.05em;
		line-height: 1.5em;
		& span {
			text-transform: uppercase;
			@include font-size(36px);
		}
		&:after {
			content: '';
			width: 25%;
			border-bottom: solid 5px $secondary-color;
			display: block;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
//Hero section
.hero {
	padding-top: 120px;
	margin-right: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	&__img {
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30px;
	}
	&__text {
		line-height: 1.6;
		letter-spacing: -0.02em;
		margin: 0 0 40px;
		& h3 {
			font-weight: 400;
		}
		& span {
			color: $primary-color;
			text-transform: uppercase;
			font-weight: 600;
			font-family: 'Poppins', sans-serif;
		}
	}
	&__searchbox {
		padding-top: 10px;
		padding-bottom: 30px;
		& button {
			margin-left: 30px;
			padding: 15px 30px;
			border-radius: 5px;
			background-color: $primary-color;
			border: 2px solid $primary-color;
			color: $bright-color;
		}
		& input {
			padding: 15px 30px;
			color: #313030;
			border: 2px solid $primary-color;
			border-radius: 5px;
		}
	}
	&__social-icons {
		& a {
			padding: 5px;
			text-decoration: none;
			& svg {
				font-size: 30px;
				line-height: 1em;
				&:hover {
					color: #4974a5;
				}
			}
		}
	}
}
